<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lab2_Parse/XSLT_SAX_DOM_examples/XSLT_SAX_DOM_examples/SAXDemoFigure.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="XSLT_SAX_DOM_examples.SAXDemoFigure"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lab2_Parse"/>
</launchConfiguration>
